.sign-in {
	margin-bottom: 15px;

	.p-float-label {
		margin-top: 15px;
	}

	.p-button-wrapper {
		width: 100%;
		text-align: left;
		display: inline-block;

		.p-button {
			margin-top: 20px;
		}
	}
}
